.main_navbar {
  font-family: "Akaya Telivigala", cursive;
  font-size: 25px;
  background-color: seagreen;
}

.navbar_Style {
  color: #d5d82a;
}

.navbar_Style:hover {
  color: black;
}

.btn-outline {
  color: #c70d0d;
}

#div-background {
  background-image: url("https://www.dreamworks.com/storage/movies/shrek/shrek-hero-image.jpg");
  background-color: #cccccc;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
}

.div-holder-picture {
  background-color: darkcyan;
}

.logo_shrek {
  width: 50%;
  height: auto;

  align-self: center;
}

.cards {
  display: flex;
  background-color: #b1b1b1;
  justify-content: space-between;
  padding: 0.8rem;
}

.movieImg {
  width: 240px;
  height: 210px;
}

.btnShrek{
  background-color: #C5D64C;
}